#heading {
    text-align: center;
}

#burgercarousel {
    /* border: 1px black solid; */
    justify-self: center;
    align-self: center;
    width: 450px;
    height: 450px;
    background-color: #e3e8e5;
    margin: 40px 40px !important;
}

.carousel-inner {
    position: relative;
    width: 400px;
    height: 400px;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

#picturetext {
    color: black;
}

.pic {
    width: 10%;
}

.thumbspic {
    width: 50%;
    cursor: pointer;
}

#Likes {
    color: green;
    font-size: 24px;
    margin: 0 10px !important;
    align-self: center;
}

#dislikes {
    color: red;
    font-size: 24px;
    margin: 0 10px !important;
    align-self: center;
}

.col-lg-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 90px !important;
}

.comment-container{
    width: 90%;
    text-align: center;
 
}

.commentSection {
    overflow: auto;
    border: 1px black solid;
    max-width: auto;
    height: 100px;
}
.btnComment {
    border: 1px black solid;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    margin: 10px 10px !important;
    color: black;
    padding: 5px !important;
    align-self: center;
}

    .btnComment:hover {
        background-color: #33342d;
        color: #ef9015;
    }