#heading {
    text-align: center !important;
    margin: 50px !important;
}

#burgercarousel {
    margin: auto !important;
    max-width: 50%;
}

#picturetext {
    color: black;
}

#likes {
    text-align: center !important;
    margin: auto !important;
    margin-top: 50px !important;
}

.thumbspic {
    width: 50%;
    cursor: pointer;
}

#Likes {
    color: green;
    font-size: 24px;
    margin: 0 10px !important;
    align-self: center;
}

#Dislike {
    color: red;
    font-size: 24px;
    margin: 0 10px !important;
    align-self: center;
}

.col-lg-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 90px !important;
}
