
.card-body {

    display: flex;
    justify-content: center;
}
.card-container {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    padding: 10px !important;
}
.drinkImg {
    width: 80%;
    align-self: center;
}
#card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-container:hover #card {
    transform: rotateY(180deg);
}

#front,
#back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

#front {
    background-color: white;
}

#back {
    background-color: #33342d;
    color: #ef9015;
    transform: rotateY(180deg);
}

.drinkBtn {
    margin: 100px !important;
    text-align: center;

}

.softDrinkBtn, .juiceBtn, .sparklingBtn, .otherDrinksBtn {
    width: 200px;
    border-radius: 15px;
    padding: 10px !important;
    margin: 10px !important;
}

    .softDrinkBtn:hover, .juiceBtn:hover, .sparklingBtn:hover, .otherDrinksBtn:hover {
        background-color: #33342d;
        color: #ef9015;
    }