@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::after,
*::before {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    max-height: 100vh;
    text-decoration: none !important;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
}

.main-container {
    height: 100vh;
    display: flex;
    width: 1920px;
    flex-direction: row
}
