@page
@model IBBS.Pages.CreateBurgerModel
@{
}


<div class="burger-container">
    <div class="burgermaker">
        <a class="save"> Save</a>
        <div class="imgcont">
            <img class="Burgerimg BunTop" id="TopBun" src="~/images/Burger/TopBun.png" alt="">
            <img class="Burgerimg sallad" id="sallad" src="/images/Burger/Sallad.png" alt="">
            <img class="Burgerimg tomato" id="tomato" src="/images/Burger/Tomato.png" alt="">
            <img class="Burgerimg meat" id="meat" src="/images/Burger/Meat.png" alt="">
            <img class="Burgerimg BunBottom" id="BottomBun" src="/images/Burger/BottomBurg.png" alt="">

        </div>
        <div class="itemcategories">
            <div class="itemdiv">
                <a class="Itembtn" data-toggle="collapse" href="#collapseExample1" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    TopBun
                </a>
                <a class="Itembtn" data-toggle="collapse" href="#collapseExample2" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Vegetable
                </a>
                <a class="Itembtn" data-toggle="collapse" href="#collapseExample3" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Vegetable
                </a>
                <a class="Itembtn" data-toggle="collapse" href="#collapseExample4" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Meat
                </a>
                <a class="Itembtn" data-toggle="collapse" href="#collapseExample5" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    BottomBun
                </a>
            </div>
            <div class="collapse insdecollapse" id="collapseExample1">
                <div>
                    <a class="Choicebtn " id="TopBunBtn">Topbun</a>
                </div>
                <div>
                    <a class="Choicebtn" id="TopBunBtn">Topbun</a>
                </div>
            </div>
            <div class="collapse insdecollapse" id="collapseExample2">
                <div>
                    <a class="Choicebtn" id="SalladBtn">Sallad</a>
                </div>
            </div>
            <div class="collapse insdecollapse" id="collapseExample3">
                <div>
                    <a class="Choicebtn" id="TomatoBtn">Tomato</a>
                </div>
            </div>
            <div class="collapse insdecollapse" id="collapseExample4">
                <div>
                    <a class="Choicebtn" id="MeatBtn">GroundBeef</a>
                </div>
            </div>
            <div class="collapse insdecollapse" id="collapseExample5">
                <div>
                    <a class="Choicebtn" id="BottomBunBtn">Bottombun</a>
                </div>
            </div>
        </div>
    </div>

</div>
