@page
@model IBBS.Pages.CreateBurgerModel
@{
}


<div class="burger-container">

    <div class="foodselector">
        <a class="Choicebtn" id="TopBunBtn">Topbun</a>
        <a class="Choicebtn" id="SalladBtn">Sallad</a>
        <a class="Choicebtn" id="TomatoBtn">Tomato</a>
        <a class="Choicebtn" id="MeatBtn">Meat</a>
        <a class="Choicebtn" id="BottomBunBtn">Bottombun</a>
    </div>
    <div class="burgermaker">
        <a> Save</a>
        <div class="imgcont">
            <img class="Burgerimg BunTop" id="TopBun" src="~/images/Burger/TopBun.png" alt="">
            <img class="Burgerimg sallad" id="sallad" src="/images/Burger/Sallad.png" alt="">
            <img class="Burgerimg tomato" id="tomato" src="/images/Burger/Tomato.png" alt="">
            <img class="Burgerimg meat" id="meat" src="/images/Burger/Meat.png" alt="">
            <img class="Burgerimg BunBottom" id="BottomBun" src="/images/Burger/BottomBurg.png" alt="">

        </div>
    </div>
</div>