@page
@model IBBS.Pages.DesertPageModel
@{
}
<div id="heading" class="container-sm">
    <h1>Deserts</h1>
</div>
<div class="container" id="desert-container">
    <div class="card-columns">

        <div class="card" id="desert-card">
            <img src="~/images/cookie.png" class="card-img-top" alt="...">
            <div class="card-body" id="desert-body">
                <h5 class="card-title">Cookies</h5>
            </div>
        </div>

        <div class="card" id="desert-card">
            <img src="~/images/icecream.png" class="card-img-top" alt="...">
            <div class="card-body" id="desert-body">
                <h5 class="card-title">Ice Cream</h5>
            </div>
        </div>

        <div class="card" id="desert-card">
            <img src="~/images/pie.png" class="card-img-top" alt="...">
            <div class="card-body" id="desert-body">
                <h5 class="card-title">Pie</h5>
            </div>
        </div>
    </div>
</div>