@page
@model IBBS.Pages.DesertPageModel
@{
    ViewData["Title"] = "Deserts";
}


<div id="heading" class="container-sm">
    <h1>Deserts</h1>
</div>
<div class="container">
    <div class="card-columns">
        <div class="card">
            <img src="image/cookie.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cookies</h5>
            </div>
        </div>
        <div class="card">
            <img src="image/icecream.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ice Cream</h5>
            </div>
        </div>
        <div class="card">
            <img src="image/pie.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pie</h5>
            </div>
        </div>
    </div>
</div>