@page
@model IBBS.Pages.DrinkPageModel
@{
}
<div id="accordion">
    <div class="drinkBtn">

        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="softDrinkBtn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Soft drinks
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">


                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="cola" src="~/images/Drinks/cola.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Coca-Cola Original Taste is the world’s favourite
                                <br />
                                soft drink and has been enjoyed since 1886.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="fanta" src="~/images/Drinks/fanta.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Bright, bubbly and made with five per cent juice,
                                <br />
                                Fanta is a soft drink with a tingly, fruity taste.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="fanta" src="~/images/Drinks/sprite.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Crisp, refreshing and clean-tasting,
                                <br />
                                Sprite is a lemon and lime-flavoured soft drink.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="juiceBtn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Juice
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">


                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="applejuice" src="~/images/Drinks/applejuice.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Apple juice is a fruit juice made by
                                <br />
                                the maceration and pressing of an apple.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="orangejuice" src="~/images/Drinks/orangejuice.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Orange juice is a liquid extract of the orange tree fruit, produced by squeezing or reaming oranges.
                                <br />
                                It comes in several different varieties, including blood orange, navel oranges, valencia orange,
                                <br />
                                clementine, and tangerine.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="sparklingBtn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Sparkling water
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">


                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="waternaturel" src="~/images/Drinks/waterNaturel.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Sparkling water is the flashy name for carbonated water
                                <br />
                                – water into which carbon dioxide has been dissolved under pressure.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="citruswater" src="~/images/Drinks/waterCitrus.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Sparkling water is the flashy name for carbonated water
                                <br />
                                – water into which carbon dioxide has been dissolved under pressure.
                                <br />
                                This bottle comes with a touch of citrus
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="otherDrinksBtn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Other drinks
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">


                <div class="card-container">
                    <div id="card">

                        <div id="front">
                            <img class="drinkImg" id="milk" src="~/images/Drinks/milk.png" alt="">
                        </div>
                        <div id="back">
                            <p>
                                Milk (also known in unfermented form as sweet milk) is a nutrient
                                <br />
                                -rich liquid food produced by cows.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
