@page
@model IBBS.Pages.DrinkPageModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-sm">

            <div class="card-container">
                <div id="card">
                    <div id="front">
                        <img class="drinkImg" id="cola" src="~/images/Drinks/cola.png" alt="">
                    </div>
                    <div id="back">
                        <p>
                            Coca-Cola Original Taste is the world’s favourite
                            <br />
                            soft drink and has been enjoyed since 1886.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">

            <div class="card-container">
                <div id="card">
                    <div id="front">
                        <img class="drinkImg" id="fanta" src="~/images/Drinks/fanta.png" alt="">
                    </div>
                    <div id="back">
                        <p>
                            Bright, bubbly and made with five per cent juice,
                            <br />
                            Fanta is a soft drink with a tingly, fruity taste.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card-container">
                <div id="card">
                    <div id="front">
                        <img class="drinkImg" id="sprite" src="~/images/Drinks/sprite.png" alt="">
                    </div>
                    <div id="back">
                        <p>
                            Crisp, refreshing and clean-tasting,
                            <br />
                            Sprite is a lemon and lime-flavoured soft drink.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



