@page
@model IBBS.Pages.ImagelistModel
@{
    string dotpng = ".png";
}
<div id="imageslist">
        @foreach (var item in Model.Ingredients)
        {
            string imageURL = item.Name;

            <img src=~/images//Burger/@{@imageURL}@dotpng alt=@item.Name/>

        }
</div>
    
