@page
@model IBBS.Pages.SideDishPageModel
@{
}
<div id="heading" class="container-sm">
    <h1>Side Dish</h1>
</div>

<div class="container" id="desert-container">
    <div class="card-columns">

        <div class="card" id="sidedish-card">
            <img src="~/images/Frenchfries.png" class="card-img-top" alt="...">
            <div class="card-body" id="sidedish-body">
                <h5 class="card-title">French Fries</h5>
            </div>
        </div>
    </div>
</div>