<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IBBS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <div class="main-container">
        <div class="sidebar-cont">
            <div class="sidebar-div-one">
                <img class="image" src="/images/IBBS.png" alt="">
                <a class="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
            <div class="sidebar-div-two">
                <a class="navbtn" asp-page="/Index">HOME</a>
                <a class="navbtn" asp-page="/CreateBurger">CREATE A HAMBURGER</a>
                <a class="navbtn" asp-page="/BurgerPage">YOUR BURGERS</a>
                <a class="navbtn">DRINKS</a>
                <a class="navbtn">DESERT</a>
                <a class="navbtn">SIDE DISH</a>
            </div>
        </div>
        <div class="RenderBody">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/burger.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
